/__pycache_
.vscode/*
.vscode/settings.json

__pycache__/*
maps/aliens_vs_dinos_maps.tiled-project
.tiled-project
.tiled-session
.tmx

maps/aliens_vs_dinos_maps.tiled-session
.gitignore
maps/main_map.tmx
